@page
@model Reddnet.Web.Pages.ErrorModel

<div class="container box outline round p-a-1">
    <p>
        Something wen't wrong.
    </p>
</div>

<div class="sidebar">
    <partial name="/Pages/Shared/_About.cshtml" />
</div>
