@model Reddnet.Web.ViewModels.PostViewModel

@{
}

<div class="column-container" style="width: 40%; margin: auto;">
    <form asp-controller="Post" asp-action="New" method="post" enctype="multipart/form-data">
        <div class="container" style="flex-direction: row">
            <div class="form-group">
                <label>Cover</label>

                <label for="imageInput">
                    <img id="imageDisplay" src="~/images/Default.png" alt="COVER" height="200" width="200" />
                    <input id="imageInput" type="file" name="formFile" />
                </label>
            </div>

            <div style="flex-direction: column; margin-left: 15px; width: 100%;">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 10px;">
            <div class="form-group">
                <label asp-for="Link"></label>
                <input asp-for="Link">
            </div>
        </div>

        <div class="container" style="margin-top: 10px;">
            <div class="form-group">
                <label asp-for="Text">Text</label>
                <textarea asp-for="Text"></textarea>
            </div>

            <input class="clickLink" type="submit" value="Upload" />

            <div class="errors" asp-validation-summary="All"></div>
        </div>
    </form>

    @if (User.IsInRole(ApplicationRoles.Administrator))
    {
        <div class="container" style="margin-bottom: 10px">
            <form asp-controller="Post" asp-action="Steal" method="post" asp-route-id="@ViewContext.RouteData.Values["id"]">
                <div class="form-group">
                    <label>Website Url</label>
                    <input name="WebsiteUrl" type="text" placeholder="Website Url">
                </div>

                <input class="clickLink" type="submit" value="Steal and Post" />
            </form>
        </div>
    }
</div>

