@model Reddnet.Models.ViewModels.RegisterViewModel

@{
}

<div class="container">
    <form asp-controller="Account" asp-action="Register">

        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
        </div>

        <div class="form-group">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" value="true" />
        </div>

        <input class="clickLink" type="submit" value="Register" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>

