
@model BlogCoreEngine.ViewModels.LoginViewModel

@{
}

<div class="container" style="width: 40%; margin: auto;">
    <form asp-controller="Account" asp-action="Login">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>

        <div class="form-group">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" value="true" />
        </div>

        <input class="clickLink" type="submit" value="Login" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>
