@model BlogCoreEngine.Core.Entities.Author

@{
}

<div class="column-container" style="width: 40%; margin: auto;">
    @if (!Model.Posts.Any())
    {
        <div class="container">
            <h1>No Posts found!</h1>
            <a class="clickLink" asp-controller="Blog" asp-action="NewPost">New Post</a>
        </div>
    }
    else
    {
        @foreach (var item in Model.Posts)
        {
            @await Html.PartialAsync("_PostPartial", item);
        }
    }

    <div class="row-c">
        <div style="margin-right: 20px">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" height="110" width="110" />
        </div>

        <div style="margin-bottom: 10px; padding-top: 10px; width: 100%;" class="row-container container">
            <div style="margin-left: 20px">

                <div class="row-c">
                    <h1 style="margin-bottom: 30px"><strong>@Model.Name</strong></h1>


                    @if (User.Identity.Name == Model.Name)
                    {
                        <div style="height: 22px; margin-left: 20px;" class="column-container">
                            <a class="clickLink" asp-controller="Account" asp-action="Settings" asp-route-id="@Model.Name">Settings</a>
                        </div>
                    }
                </div>

                <h3 style="color: gray; font-size: 14px">Posts: <strong>@Model.Posts.Count()</strong></h3>
                <h3 style="color: gray; font-size: 14px">Comments: <strong>@Model.Comments.Count()</strong></h3>
            </div>
        </div>
    </div>
</div>
