@model Reddnet.Models.DataModels.PostDataModel

@{
}

<div class="middle-container">
    <div class="container BlogLi">
        @{ await Html.RenderPartialAsync("_PostDetailsPartial", Model); }
    </div>

        @if (!Model.Archieved)
        {
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container" style="width: 96.3%; margin-top: 10px">
                    <form asp-controller="Comment" asp-action="New" asp-route-id="@Model.PostId" method="post">

                        <div class="form-group">
                            <textarea style="height: 100px" name="CommentText"></textarea>
                        </div>

                        <input class="clickLink" type="submit" value="Comment" />
                    </form>
                </div>
            }
        }

    <div>
        <h2 class="bubble" style="margin-top: 10px;">@Model.Comments.Count() Comments</h2>
        <ul>
            @foreach (var commentDataModel in Model.Comments)
            {
                <li>
                    @await Html.PartialAsync("_CommentPartial", commentDataModel)
                </li>
            }
        </ul>
    </div>
</div>
