@page "{name}"
@model Reddnet.Web.Pages.ProfileModel
@{
    ViewData["Title"] = "u/" + Model.UserName;
}

<partial name="/Pages/Shared/_PostList.cshtml" model="Model.Posts" />

<div class="sidebar flex col m-y-block-2">
    <div class="box outline round p-a-1 m-y-block-2">
        <h1 class="font big">
            About @Model.UserName
        </h1>
        <p>
            <strong>
                @Model.Posts.Count()
            </strong>
            @(Model.Posts.Count() == 1 ? "Post" : "Posts")
        </p>
    </div>
    <partial name="/Pages/Shared/_About.cshtml" />
</div>
