

/* Comment */

.CommentLi {
    width: 100%;
    box-shadow: none;
    margin-top: 10px;
    border: 1px solid rgb(237, 239, 241);
    border-radius: 2.5px;
    background-color: white;
}

.CommentLi h6 {
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background-color: green;
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.CommentLi .CommentMain {
    display: flex;
    flex-direction: row;
}

.CommentLi .CommentMain .CommentRight {
    padding: 10px;
}

.CommentLi .CommentMain .CommentLeft  {
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, .03);
}

.CommentLi .CommentMain .CommentLeft img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.CommentLi .CommentMain .CommentRight .content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.CommentLi .CommentMain .CommentRight{
    margin-left: 5px;
}

.CommentLi .CommentMain .headline {
    display: flex;
    flex-direction: row;
}
