@model Reddnet.Models.DataModels.BlogDataModel

@{
}

<div class="container">
    <form asp-controller="Blog" asp-action="New" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Cover</label>

            <label for="imageInput">
                <img id="imageDisplay" src="~/images/Default.png" alt="COVER" height="200" width="200" />
                <input id="imageInput" type="file" name="formFile" />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea style="height: 128px" asp-for="Description"></textarea>
        </div>

        <input class="clickLink" type="submit" value="Create" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>
