.m-x-block-0 > :not(:first-child) {
    margin-left: 0rem !important;
}

.m-y-block-0 > :not(:first-child) {
    margin-top: 0rem !important;
}

.m-a-0 {
    margin: 0rem 0rem !important;
}

.m-t-0 {
    margin-top: 0rem !important;
}

.m-r-0 {
    margin-right: 0rem !important;
}

.m-b-0 {
    margin-bottom: 0rem !important;
}

.m-l-0 {
    margin-left: 0rem !important;
}

.m-x-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.m-y-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.m-x-block-1 > :not(:first-child) {
    margin-left: 0.5rem !important;
}

.m-y-block-1 > :not(:first-child) {
    margin-top: 0.5rem !important;
}

.m-a-1 {
    margin: 0.5rem 0.5rem !important;
}

.m-t-1 {
    margin-top: 0.5rem !important;
}

.m-r-1 {
    margin-right: 0.5rem !important;
}

.m-b-1 {
    margin-bottom: 0.5rem !important;
}

.m-l-1 {
    margin-left: 0.5rem !important;
}

.m-x-1 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.m-y-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.m-x-block-2 > :not(:first-child) {
    margin-left: 1rem !important;
}

.m-y-block-2 > :not(:first-child) {
    margin-top: 1rem !important;
}

.m-a-2 {
    margin: 1rem 1rem !important;
}

.m-t-2 {
    margin-top: 1rem !important;
}

.m-r-2 {
    margin-right: 1rem !important;
}

.m-b-2 {
    margin-bottom: 1rem !important;
}

.m-l-2 {
    margin-left: 1rem !important;
}

.m-x-2 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.m-y-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m-x-block-3 > :not(:first-child) {
    margin-left: 1.5rem !important;
}

.m-y-block-3 > :not(:first-child) {
    margin-top: 1.5rem !important;
}

.m-a-3 {
    margin: 1.5rem 1.5rem !important;
}

.m-t-3 {
    margin-top: 1.5rem !important;
}

.m-r-3 {
    margin-right: 1.5rem !important;
}

.m-b-3 {
    margin-bottom: 1.5rem !important;
}

.m-l-3 {
    margin-left: 1.5rem !important;
}

.m-x-3 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.m-y-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.p-x-block-0 > :not(:first-child) {
    padding-left: 0rem !important;
}

.p-y-block-0 > :not(:first-child) {
    padding-top: 0rem !important;
}

.p-a-0 {
    padding: 0rem 0rem !important;
}

.p-t-0 {
    padding-top: 0rem !important;
}

.p-r-0 {
    padding-right: 0rem !important;
}

.p-b-0 {
    padding-bottom: 0rem !important;
}

.p-l-0 {
    padding-left: 0rem !important;
}

.p-x-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.p-y-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.p-x-block-1 > :not(:first-child) {
    padding-left: 0.5rem !important;
}

.p-y-block-1 > :not(:first-child) {
    padding-top: 0.5rem !important;
}

.p-a-1 {
    padding: 0.5rem 0.5rem !important;
}

.p-t-1 {
    padding-top: 0.5rem !important;
}

.p-r-1 {
    padding-right: 0.5rem !important;
}

.p-b-1 {
    padding-bottom: 0.5rem !important;
}

.p-l-1 {
    padding-left: 0.5rem !important;
}

.p-x-1 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.p-y-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.p-x-block-2 > :not(:first-child) {
    padding-left: 1rem !important;
}

.p-y-block-2 > :not(:first-child) {
    padding-top: 1rem !important;
}

.p-a-2 {
    padding: 1rem 1rem !important;
}

.p-t-2 {
    padding-top: 1rem !important;
}

.p-r-2 {
    padding-right: 1rem !important;
}

.p-b-2 {
    padding-bottom: 1rem !important;
}

.p-l-2 {
    padding-left: 1rem !important;
}

.p-x-2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.p-y-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p-x-block-3 > :not(:first-child) {
    padding-left: 1.5rem !important;
}

.p-y-block-3 > :not(:first-child) {
    padding-top: 1.5rem !important;
}

.p-a-3 {
    padding: 1.5rem 1.5rem !important;
}

.p-t-3 {
    padding-top: 1.5rem !important;
}

.p-r-3 {
    padding-right: 1.5rem !important;
}

.p-b-3 {
    padding-bottom: 1.5rem !important;
}

.p-l-3 {
    padding-left: 1.5rem !important;
}

.p-x-3 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.p-y-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

* {
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
    color: black;
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.7rem 1rem;
    text-decoration: none;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    resize: none !important;
    text-align: center;
    cursor: pointer;
}

    .btn:not(:disabled) {
        -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
    }

        .btn:not(:disabled):hover {
            background-color: #cacaca;
            border-color: #cacaca;
        }

        .btn:not(:disabled):active {
            background-color: silver;
            border-color: silver;
        }

        .btn:not(:disabled):focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.25);
        }

    .btn:disabled {
        cursor: not-allowed;
        opacity: .45;
    }

    .btn.round {
        border-radius: 50rem;
    }

    .btn.light {
        display: block;
        color: gainsboro;
        background-color: white;
        border: 2px solid white;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
    }

        .btn.light:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.light:not(:disabled):hover {
                background-color: #ededed;
                border-color: #ededed;
            }

            .btn.light:not(:disabled):active {
                background-color: #e3e3e3;
                border-color: #e3e3e3;
            }

            .btn.light:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
            }

        .btn.light:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

    .btn.outline {
        display: block;
        color: black;
        background-color: white;
        border: 2px solid gainsboro;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
    }

        .btn.outline:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.outline:not(:disabled):hover {
                background-color: #ededed;
                border-color: #cacaca;
            }

            .btn.outline:not(:disabled):active {
                background-color: #e3e3e3;
                border-color: silver;
            }

            .btn.outline:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.25);
            }

        .btn.outline:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

    .btn.light {
        color: black;
    }

    .btn.primary {
        display: block;
        color: black;
        background-color: #FF5700;
        border: 2px solid #FF5700;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
        text-align: center;
        cursor: pointer;
    }

        .btn.primary:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.primary:not(:disabled):hover {
                background-color: #db4b00;
                border-color: #db4b00;
            }

            .btn.primary:not(:disabled):active {
                background-color: #c74400;
                border-color: #c74400;
            }

            .btn.primary:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
            }

        .btn.primary:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

        .btn.primary.round {
            border-radius: 50rem;
        }

        .btn.primary.light {
            display: block;
            color: #FF5700;
            background-color: white;
            border: 2px solid white;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.primary.light:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.primary.light:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #ededed;
                }

                .btn.primary.light:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #e3e3e3;
                }

                .btn.primary.light:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }

            .btn.primary.light:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

        .btn.primary.outline {
            display: block;
            color: black;
            background-color: white;
            border: 2px solid #FF5700;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.primary.outline:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.primary.outline:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #db4b00;
                }

                .btn.primary.outline:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #c74400;
                }

                .btn.primary.outline:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
                }

            .btn.primary.outline:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

    .btn.danger {
        display: block;
        color: white;
        background-color: #CA0B00;
        border: 2px solid #CA0B00;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
        text-align: center;
        cursor: pointer;
    }

        .btn.danger:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.danger:not(:disabled):hover {
                background-color: #a60900;
                border-color: #a60900;
            }

            .btn.danger:not(:disabled):active {
                background-color: #920800;
                border-color: #920800;
            }

            .btn.danger:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 11, 0, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(202, 11, 0, 0.25);
            }

        .btn.danger:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

        .btn.danger.round {
            border-radius: 50rem;
        }

        .btn.danger.light {
            display: block;
            color: #CA0B00;
            background-color: white;
            border: 2px solid white;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.danger.light:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.danger.light:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #ededed;
                }

                .btn.danger.light:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #e3e3e3;
                }

                .btn.danger.light:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }

            .btn.danger.light:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

        .btn.danger.outline {
            display: block;
            color: black;
            background-color: white;
            border: 2px solid #CA0B00;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.danger.outline:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.danger.outline:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #a60900;
                }

                .btn.danger.outline:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #920800;
                }

                .btn.danger.outline:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(202, 11, 0, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(202, 11, 0, 0.25);
                }

            .btn.danger.outline:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

    .btn.success {
        display: block;
        color: black;
        background-color: #589C48;
        border: 2px solid #589C48;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
        text-align: center;
        cursor: pointer;
    }

        .btn.success:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.success:not(:disabled):hover {
                background-color: #4a843d;
                border-color: #4a843d;
            }

            .btn.success:not(:disabled):active {
                background-color: #427636;
                border-color: #427636;
            }

            .btn.success:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 156, 72, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(88, 156, 72, 0.25);
            }

        .btn.success:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

        .btn.success.round {
            border-radius: 50rem;
        }

        .btn.success.light {
            display: block;
            color: #589C48;
            background-color: white;
            border: 2px solid white;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.success.light:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.success.light:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #ededed;
                }

                .btn.success.light:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #e3e3e3;
                }

                .btn.success.light:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }

            .btn.success.light:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

        .btn.success.outline {
            display: block;
            color: black;
            background-color: white;
            border: 2px solid #589C48;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.success.outline:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.success.outline:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #4a843d;
                }

                .btn.success.outline:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #427636;
                }

                .btn.success.outline:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 156, 72, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(88, 156, 72, 0.25);
                }

            .btn.success.outline:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

    .btn.warning {
        display: block;
        color: black;
        background-color: #ffcc00;
        border: 2px solid #ffcc00;
        border-radius: 0.3rem;
        outline: none;
        padding: 0.7rem 1rem;
        text-decoration: none;
        -webkit-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
        resize: none !important;
        text-align: center;
        cursor: pointer;
    }

        .btn.warning:not(:disabled) {
            -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
            transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
        }

            .btn.warning:not(:disabled):hover {
                background-color: #dbaf00;
                border-color: #dbaf00;
            }

            .btn.warning:not(:disabled):active {
                background-color: #c79f00;
                border-color: #c79f00;
            }

            .btn.warning:not(:disabled):focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25);
            }

        .btn.warning:disabled {
            cursor: not-allowed;
            opacity: .45;
        }

        .btn.warning.round {
            border-radius: 50rem;
        }

        .btn.warning.light {
            display: block;
            color: #ffcc00;
            background-color: white;
            border: 2px solid white;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.warning.light:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.warning.light:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #ededed;
                }

                .btn.warning.light:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #e3e3e3;
                }

                .btn.warning.light:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }

            .btn.warning.light:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

        .btn.warning.outline {
            display: block;
            color: black;
            background-color: white;
            border: 2px solid #ffcc00;
            border-radius: 0.3rem;
            outline: none;
            padding: 0.7rem 1rem;
            text-decoration: none;
            -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
            resize: none !important;
        }

            .btn.warning.outline:not(:disabled) {
                -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
                transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
            }

                .btn.warning.outline:not(:disabled):hover {
                    background-color: #ededed;
                    border-color: #dbaf00;
                }

                .btn.warning.outline:not(:disabled):active {
                    background-color: #e3e3e3;
                    border-color: #c79f00;
                }

                .btn.warning.outline:not(:disabled):focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25);
                }

            .btn.warning.outline:disabled {
                cursor: not-allowed;
                opacity: .45;
            }

.input {
    display: block;
    color: black;
    background-color: white;
    border: 2px solid #FF5700;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.7rem 1rem;
    text-decoration: none;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    resize: none !important;
    border-color: gainsboro;
}

    .input:not(:disabled) {
        -webkit-transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, -webkit-box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
        transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
    }

        .input:not(:disabled):hover {
            background-color: #ededed;
            border-color: #db4b00;
        }

        .input:not(:disabled):active {
            background-color: #e3e3e3;
            border-color: #c74400;
        }

        .input:not(:disabled):focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(255, 87, 0, 0.25);
        }

    .input:disabled {
        cursor: not-allowed;
        opacity: .45;
    }

    .input:focus {
        border-color: #FF5700;
    }

    .input.round {
        border-radius: 50rem;
    }

    .input[type=checkbox] {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

.link {
    color: black;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

    .link:hover {
        text-decoration: underline;
    }

    .link.primary {
        color: #FF5700;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

        .link.primary:hover {
            text-decoration: underline;
        }

    .link.danger {
        color: #CA0B00;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

        .link.danger:hover {
            text-decoration: underline;
        }

    .link.success {
        color: #589C48;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

        .link.success:hover {
            text-decoration: underline;
        }

    .link.warning {
        color: #ffcc00;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

        .link.warning:hover {
            text-decoration: underline;
        }

.image {
    border-radius: 0.3rem;
    -o-object-fit: cover;
    object-fit: cover;
}

    .image.round {
        border-radius: 50rem;
    }

* {
    font-size: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.strong {
    font-weight: bold;
}

    .strong * {
        font-weight: bold;
    }

.font.small {
    font-size: 90%;
}

    .font.small * {
        font-size: 90%;
    }

.font.medium {
    font-size: 100%;
}

    .font.medium * {
        font-size: 100%;
    }

.font.big {
    font-size: 110%;
}

    .font.big * {
        font-size: 110%;
    }

.box {
    display: block;
    background-color: white;
}

    .box * {
        color: black;
    }

    .box.primary {
        display: block;
        background-color: #FF5700;
    }

        .box.primary * {
            color: black;
        }

    .box.danger {
        display: block;
        background-color: #CA0B00;
    }

        .box.danger * {
            color: white;
        }

    .box.success {
        display: block;
        background-color: #589C48;
    }

        .box.success * {
            color: black;
        }

    .box.warning {
        display: block;
        background-color: #ffcc00;
    }

        .box.warning * {
            color: black;
        }

    .box.round {
        border-radius: 0.3rem;
    }

    .box.outline {
        border: 1px solid gainsboro;
    }

    .box.outline-right {
        border-right: 1px solid gainsboro;
    }

    .box.outline-left {
        border-left: 1px solid gainsboro;
    }

    .box.outline-top {
        border-top: 1px solid gainsboro;
    }

    .box.outline-bottom {
        border-bottom: 1px solid gainsboro;
    }

.hr {
    border: none;
    height: 2px;
    background-color: gainsboro;
}

.form *.group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .form *.group label {
        font-weight: bolder;
        font-size: 90%;
    }

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .flex.row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .flex.row.row-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .flex.row.col-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .flex.row > .center {
            margin-left: auto;
            margin-right: auto;
        }

        .flex.row > .left {
            margin-right: auto;
        }

        .flex.row > .right {
            margin-left: auto;
        }

        .flex.row > .top {
            -ms-flex-item-align: start;
            align-self: flex-start;
        }

        .flex.row > .bottom {
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

    .flex.col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .flex.col.row-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .flex.col.col-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .flex.col > .center {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        }

        .flex.col > .right {
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

        .flex.col > .left {
            -ms-flex-item-align: start;
            align-self: flex-start;
        }

    .flex.center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .flex.space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .flex.space-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .flex.space-evenly {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .flex > .stretch {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
/*# sourceMappingURL=main.css.map */
