@inject BlogCoreEngine.Core.Interfaces.IBlogOptionService blogOptionService;

<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="author" content="Moritz Müller" />
    <meta name="description" content="BlogCoreEngine" />

    <link rel="icon" href="data:image;base64,@System.Convert.ToBase64String(await blogOptionService.GetLogo())" />

    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="~/css/Comment.css" />
    <link rel="stylesheet" href="~/css/Post.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <title>@await blogOptionService.GetTitle()</title>
</head>

<body>
    <header>
        <div class="topbar">
            <div class="row-c">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="data:image;base64,@System.Convert.ToBase64String(await blogOptionService.GetLogo())" alt="LOGO" />
                    </a>
                </div>

                <div class="branding">
                    <h1><a asp-controller="Home" asp-action="Index">@await blogOptionService.GetTitle()</a></h1>
                </div>
            </div>

            <div class="row-c">
                <div class="searchbar">
                    <form asp-controller="Home" asp-action="Search" method="post" style="min-width: initial">
                        <img src="~/images/Search.jpg" height="22" width="22" />
                        <input type="text" name="searchString" />
                    </form>
                </div>
            </div>

            <div class="row-c">
                <div class="login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="clickLink" asp-controller="Account" asp-action="Profile" asp-route-id="@User.Identity.GetAuthorName()">@User.Identity.GetAuthorName()</a>
                        <a class="clickLink" asp-controller="Account" asp-action="LogOutAsync">Logout</a>
                    }
                    else
                    {
                        <a class="clickLink" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="buttonLink" asp-controller="Account" asp-action="Register">Register</a>
                    }
                </div>

                <div class="navigator">
                    <nav>
                        <ul>
                            @if (this.User.IsInRole("Administrator"))
                            {
                                <li><a class="clickLink" asp-controller="Home" asp-action="AdminPanel">Admin Panel</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="main-container">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-container">
            <a href="https://github.com/moritz-mm/Reddnet">Reddnet on GitHub</a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/Main.js"></script>
</body>
</html>
