<div class="box outline round p-a-1 m-y-block-2 flex col">
    <a class="link" asp-page="/Index">Home</a>
    <a class="link" href="https://github.com/moritz-mm/Reddnet">Reddnet on GitHub</a>
    <a class="link" asp-page="/Search">Search</a>
</div>
