<div class="box outline round p-a-1 flex row space-evenly">
    <a class="link" asp-page="/Index">Home</a>
    <p>
        •
    </p>
    <a class="link" href="https://github.com/moritz-mm/Reddnet">GitHub</a>
    <p>
        •
    </p>
    <a class="link" asp-page="/Search">Search</a>
</div>
