@model Reddnet.Models.ViewModels.SettingViewModel

@{
}

<div class="left-container">
    <h3><strong>Admin Panel</strong></h3>

    <hr />

    <a class="clickLink" asp-controller="Home" asp-action="AdminPanel">General</a>
    <a class="clickLink" asp-controller="Home" asp-action="Settings">Settings</a>
    <a class="clickLink" asp-controller="Home" asp-action="Users">Users</a>
    <a class="clickLink" asp-controller="Home" asp-action="Blogs">Subreddits</a>
</div>

<div class="container">
    <h1 style="margin-bottom: 30px;">Welcome, <strong>@this.User.Identity.Name</strong></h1>
</div>

