@model IEnumerable<Reddnet.Models.DataModels.BlogDataModel>

@{
}

<div class="left-container">
    <h3><strong>Admin Panel</strong></h3>

    <hr />

    <a class="clickLink" asp-controller="Home" asp-action="AdminPanel">General</a>
    <a class="clickLink" asp-controller="Home" asp-action="Settings">Settings</a>
    <a class="clickLink" asp-controller="Home" asp-action="Users">Users</a>
    <a class="clickLink" asp-controller="Home" asp-action="Blogs">Subreddits</a>
</div>

<div class="container">
    <h1>Admin Panel › <strong>Subreddits</strong></h1>

    <table>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.BlogId != 1)
                {
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="clickLink" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a>
                    </td>
                    <td>
                        <a class="clickLink" style="color: red" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                    </td>
                }
            </tr>
        }
    </table>

    <a class="clickLink" style="margin-top: 15px" asp-controller="Blog" asp-action="New">New Subreddit</a>
</div>
