@model Reddnet.Web.ViewModels.BlogViewModel

<div class="container" style="width: 40%; margin: auto;">
    <form asp-controller="Blog" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Cover</label>
            <label for="imageInput">
                <img id="imageDisplay" src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" alt="COVER" height="200" width="200" />
                <input id="imageInput" type="file" name="formFile" />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Model.Name" />
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea style="height: 128px" asp-for="Description">@Model.Description</textarea>
        </div>

        <input class="clickLink" type="submit" value="Save" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>
