@model IEnumerable<Reddnet.Core.Entities.BlogEntity>

@{
}

<div class="left-container container" style="height: 200px;">
    <h3><strong>Admin Panel</strong></h3>

    <hr />

    <a class="clickLink" asp-controller="Home" asp-action="AdminPanel">General</a>
    <a class="clickLink" asp-controller="Home" asp-action="Settings">Settings</a>
    <a class="clickLink" asp-controller="Home" asp-action="Users">Users</a>
    <a class="clickLink" asp-controller="Home" asp-action="Blogs">Blogs</a>
</div>

<div class="container admin-container">
    <h1>Admin Panel › <strong>Blogs</strong></h1>

    <table>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.Name</td>
                <td>@blog.Description</td>
                <td>
                    <a class="clickLink" asp-controller="Blog" asp-action="Edit" asp-route-id="@blog.Id">Edit</a>
                </td>
                <td>
                    <a class="clickLink" style="color: red" asp-controller="Blog" asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                </td>
            </tr>
        }
    </table>

    <a class="clickLink" style="margin-top: 15px" asp-controller="Blog" asp-action="New">New Blog</a>
</div>
