@model BlogCoreEngine.ViewModels.SettingViewModel

@{
}

<div class="left-container container" style="height: 200px;">
    <h3><strong>Admin Panel</strong></h3>

    <hr />

    <a class="clickLink" asp-controller="Home" asp-action="AdminPanel">General</a>
    <a class="clickLink" asp-controller="Home" asp-action="Settings">Settings</a>
    <a class="clickLink" asp-controller="Home" asp-action="Users">Users</a>
    <a class="clickLink" asp-controller="Home" asp-action="Blogs">Blogs</a>
</div>

<div class="container admin-container">
    <h1>Admin Panel › <strong>Settings</strong></h1>

    <form asp-controller="Home" asp-action="Settings" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Logo</label>
            <label for="imageInput">
                <img id="imageDisplay" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.LogoToBytes)" alt="COVER" height="200" width="200" />
                <input id="imageInput" asp-for="Logo" />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" value="@Model.Title" />
        </div>

        <input class="clickLink" type="submit" value="Save" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>

