

/* Post */

li {
    display: inherit;
    margin: auto;
    margin-bottom: 5px;
}

.BlogLi {
    width: 850px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.BlogLi .BlogMain {
    display: flex;
    flex-direction: row;
}

.BlogLi .BlogCover {
    border-radius: 1px;
    margin-right: 20px;
}

.BlogLi .BlogLi:hover {
    transition: 0.2s all;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
}

.BlogLi .headline {
    display: flex;
    flex-direction: row;
}

.BlogLi .headline img {
    border-radius: 50px;
    margin-left: 8px;
}

.BlogLi a:hover {
    text-decoration: underline;
}

.BlogLi .content {
    margin-top: 15px;
    margin-bottom: 10px;
}

.BlogLi .preview {
    margin-top: 10px;
}

.BlogLi .underline {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 20px;
}

.BlogLi .underline a {
    margin-right: 15px;
}

.BlogLi .underline h1 {
    margin-right: 15px;
}

.BlogLi .BlogCover img {
    border-radius: 3px;
    height: 110px;
    width: 140px;
}
