* {
    font: 15px / 1.5 sans-serif;
    margin: 0px;
    padding: 0px;
}

strong {
    font-weight: bold;
}

h2 strong {
    font-size: 20px;
}

p {
    font-size: 16px;
}

img {
    object-fit: scale-down;
}

body {
    background: url("../images/Background.png") no-repeat center center fixed;
    background-size: cover;
}

/* containers */

.row-c {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.row-container {
    width: 98.6%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.row-container img {
    border-radius: 52px;
}

.container {
    width: 800px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container .errors {
    margin-top: 15px;
}

.container h1 {
    margin-bottom: 30px;
}

.container .errors li {
    display: inherit;
    margin-top: 5px;
    padding: 7px;
    background-color: #FFBEBE;
    border-left: 2.5px solid red;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.middle-container {
    display: flex;
    flex-direction: column;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-right: 30px;
    width: 15%;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.left-container h3 {
    text-align: center;
}

.left-container a {
    margin-top: 15px;
}

.right-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 30px;
    width: 15%;
    border: 1px solid lightgray;
    border-radius: 2.5px;
    text-align: center;
    height: 250px;
}

.ProfilBox img {
    border-radius: 50px;
    height: 80px;
    width: 80px;

    margin-top: 5px;
    margin-bottom: 15px;
}

.ProfilBox h1 {
    margin-top: 3px;
}

.ProfilBox a {
    text-align: center;
}

/* Header */

header {
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    height: 70px;
    margin-bottom: 30px;
}

header .topbar {
    width: 70%;
    margin: auto;
}

header .logo {
    float: left;
    margin-top: 15px;
}

header .logo img {
    height: 40px;
    width: 40px;
    object-fit: scale-down;
}

header .branding {
    float: left;
    margin-left: 13px;
    margin-top: 24px;
}

header .searchbar {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

header .searchbar input {
    position: relative;
    width: 500px;
    background: transparent;
    padding-left: 45px;
    height: 30px;
    border: none;
}

header .searchbar img {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

header .login {
    float: right;
    margin-top: 24px;
}

header a {
    margin-left: 25px;
}

header .navigator {
    float: right;
    margin-right: 30px;
    margin-top: 24px;
}

header .navigator li {
    display: inline;
}

/* h */

.bubble {
    background-color: rgba(255, 0, 0, .2);
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 5px;
    border-radius: 15px;
    display: table;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

/* footer */

footer {
    background-color: gray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    text-align: center;
}

footer .footer-container h1 {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

footer .footer-container a {
    color: white;
    font-size: 13px;
}

/* selects */

select {
    padding: 5px;
    border: 1px solid lightgray;
}

/* hr */

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: lightgray;
    height: 1px;
}

/* Inputs */

input[type=submit] {
    background-color: white;
    border: none;
    cursor: pointer;
}

input[type=text], input[type=password], input[type=email], input[type=datetime] {
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    border-left: 2.5px solid red;
}

textarea {
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    resize: none;
    height: 400px;
    border-left: 2.5px solid red;
}

label {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

#imageDisplay {
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    cursor: pointer;
    object-fit: scale-down;
}

#imageDisplay2 {
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    cursor: pointer;
    object-fit: scale-down;
}

#imageDisplay3 {
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    cursor: pointer;
    object-fit: scale-down;
}

input[type=file] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Link */

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.buttonLink {
    padding: 10px;
    border: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
}

.buttonLink:hover {
    background-color: black;
    color: white;
    transition: 0.3s all;
}

.clickLink {
    color: dodgerblue;
}

.clickPost {
    cursor: pointer;
}

.clickLink:hover {
    text-decoration: underline;
}