@page 
@model Reddnet.Web.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container m-y-block-2 flex col">
    <div class="box outline round">
        <form class="form p-a-1 m-y-block-2" method="post">
            <h1 class="font big">
                Register
            </h1>

            <div class="group m-y-block-1">
                <label asp-for="Email"></label>
                <input class="input" asp-for="Email" />
            </div>
            <div class="group m-y-block-1">
                <label asp-for="UserName"></label>
                <input class="input" asp-for="UserName" />
            </div>
            <div class="group m-y-block-1">
                <label asp-for="Password"></label>
                <input class="input" asp-for="Password" />
            </div>
            <div class="group m-y-block-1">
                <label asp-for="ConfirmPassword"></label>
                <input class="input" asp-for="ConfirmPassword" />
            </div>

            <div class="group m-y-block-2">
                <div asp-validation-summary="All"></div>
                <button class="btn primary" type="submit">
                    Register
                </button>
                <div class="flex row center m-x-block-1">
                    <hr class="hr stretch" />
                    <p>
                        OR
                    </p>
                    <hr class="hr stretch" />
                </div>
                <a class="btn primary light" asp-page="@RouteConstants.AccountLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    Login?
                </a>
            </div>
        </form>
    </div>
    <partial name="/Pages/Shared/_About.cshtml" />
</div>

